<h3>情感文章列表</h3>
<admin:panel >
    <admin:tabletool filter="true" keyword="{$keyword}">
        <select name="group_id" class="form-element">
            <option value="0">=筛选条件=</option>
            <option value="">编号</option>
            <option value="">作者</option>
            <option value="">文章标题</option>
        </select>
    </admin:tabletool>

    <admin:table id="table" show="选择|30,编号|80,作者,文章标题,添加时间,操作|130">
        <foreach name="lists" item="vo">
            <tr>
                <td>
                    <input type="checkbox" name="id[]" value="{$vo.id}" />
                </td>
                <td>{$vo.id}</td>
                <td>{$vo.author}</td>
                <td>{$vo.title}</td>
                <td>
                    <?php if (!empty($vo['input_time'])){
                        echo timeFormat($vo['input_time']);
                    }?>
                </td>
                <td>
                    <a class="u-btn u-btn-primary u-btn-small" href="{:U('articleEdit',array('id'=>$vo['id']))}">修改</a>
                    <a class="u-btn u-btn-danger u-btn-small del" href="javascript:;" data="{$vo.id}">删除</a>
                </td>
            </tr>
        </foreach>
    </admin:table>
    <admin:tablefoot action="true" item="删除" value="1" />
</admin:panel>
<script>
    Do.ready('base',function() {
        $('#table').duxTable({
            actionUrl: "{:U('del')}",
            deleteUrl: "{:U('del')}",
            actionParameter : function(){
                return {'class_id' : $('#selectAction').next('#class_id').val()};
            }
        });
    });
</script>
